html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 6%;
}

#topBar {
    position: fixed;
    left: 0;
    right: 0;
    height:7%;
    background-color: rgb(51,122,183);
}

#MeetMe {
    padding-left: 3%;
    color: white;
    font-size: 30px;
    font-family: 'Arial Rounded MT Bold';
}

#daterange {
    font-size: 20px;
}

#footer {
    position: fixed;
    height: 6%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(51,122,183);
}

#p1 {
    padding-left: 2%;
    padding-top: 1%;
    color: white;
    font-size: 15px;
    font-family: 'Arial Rounded MT Bold';
}

