<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Include Required Prerequisites -->
<script type="text/javascript" 
    src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" 
    src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" 
    href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />

</head>

<body>

<div class="container">

<div class="row text-center">
    <h1>Finalize Your Meeting</h1>
</div>

<div class="row text-center">
    <form method="POST" action="/findMeeting">
        Meeting ID: <input type="text" name="meetingID">
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>

<div class="text-center">
{% if session.errorMessage is defined %}
  <font color="red">{{ session.errorMessage }}</font>
{% endif %}
</div>

<div class="text-center">
{% if session.isDeleted is defined %}
    <label>Your meeting information has been deleted.</label>
{% endif %}
</div>

<div class="row text-center">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
    </ul><br>
    <form action="/deleteMeeting" method="POST">
      <label>Done using MeetMe? Delete your meeting information:</label>
      <input class="btn btn-danger" type="submit" value="Delete">
    </form>
  {% endif %}
{% endwith %}
</div>



</div>

</body>
</html>
