<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>MeetMe!</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Include Required Prerequisites -->
<script type="text/javascript" 
    src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" 
    src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" 
    href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />
<link rel="stylesheet" type="text/css"
    href="../static/css/index.css"/>
<link href={{ url_for('static', filename='images/favicon.jpg')}} 
    rel="shortcut icon" type="image/x-icon" />
 
<!-- Include Date Range Picker -->
<script type="text/javascript" 
    src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" 
    href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


</head>

<body>
<div class="container">

<div class="row" id="topBar">
    <p id="MeetMeTest">MeetMe!</p>
    <!--<a id="MeetMe" href="/index">
      <img src={{ url_for('static', filename='images/MeetMeLogo.jpg')}} width="15%" height="90%"></a>-->
</div>

{% if not session.meetingID is defined %}
<!--<div>
    <a href="https://accounts.google.com/logout" role="button" class="btn btn-danger">Sign Out</a>
</div>-->


<div class="row text-center" style="padding-top:5%">
    <h1>Create a Meeting</h1>
</div>

<div class="row text-center">
    <form action="/finalize">
        <label>Need to finalize an already-existing meeting?</label>
        <input type="submit" value="Finalize" class="btn btn-primary">
    </form>
</div>


<div class="row text-center" style="padding-top:3%">
    <form role="form" class="form-inline" action="/setrange" method="post">
    <label id="daterange">Date Range:</label>
    <input type="text" name="daterange" size="22"
    {% if session.daterange is defined %}
         value="{{session.daterange}}"
    {% endif %}
     style="background: #fff; cursor: pointer; padding: 5px 10px;
     border: 1px solid #ccc;" >
  <script type="text/javascript">
  $(function() {
  $('input[name="daterange"]').daterangepicker(
    {
        ranges: {
           'Today': [moment(), moment()],
           'Tomorrow':[moment().add(1, 'days'),
                       moment().add(1, 'days')], 
           'This week':[moment(), moment().endOf('week')],
           'Next week':[moment().add(7, 'days').startOf('week'),
                        moment().add(7, 'days').endOf('week')],
           'This month':[moment(), moment().endOf('month')],
           'Within two weeks':[moment(),moment().add(15, 'days')]
        },
        "autoApply": true,
        "opens": "center"
    }
       );
    });
  </script>

<input type="submit" class="btn btn-primary" value="Choose" />
</form>
</div>
{% else %}
    <div class="row text-center" style="padding-top:5%">
        <form action="/choose">
          <label>Do you give MeetMe permission to access your Google account?</label>
          <input type="submit" class="btn btn-primary" value="Allow">
        </form>
    </div>
{% endif %}
    <!--Show the calendar list (if we have it).  This will need to be turned into a form from which calendars can be picked. Up to three entries are shown in each row (but the order is across then down; I would prefer down then across).-->

{% if session.calendars is defined  %}
  <form method="post" action="/select_cal">
  <div class="row text-center">
    <label>Select the calendars you want to get availability from.</label>
  </div>
  <div class="row text-center" style="padding-bottom: 10px">
  {% for cal in session.calendars if cal.selected %}
      <input type="checkbox" name="calendar" value="{{ cal.summary }}"/> 
      <strong style="padding-right: 25px">{{ cal.summary }}</strong>
    {% if loop.index is divisibleby 4 %}
          <br><br>
    {% endif %}
  {% endfor %}
  </div>
  <div class="row text-center">
    <input type="button" class="btn btn-success" id="select" value="Select All">
    <input type="button" class="btn btn-danger" id="deselect" value="Deselect All">
    <input type="submit" class="btn btn-primary" value="Find Times">
  </div>
  </form>
{% endif %}
    
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="text-center">
        <p>{{ message }}</p>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


</div>  <!--container (for bootstrap)-->

<div id="footer">
   <p id="p1">Created By: Jake Urban</p>
</div>
  
   <script type="text/javascript" >
 
        function redirect() {
            window.location.href = "ix.cs.uoregon.edu:6789"
        }

	function setCheckBoxes(state) {
		$("input[type='checkbox']").prop('checked', state);
	}
	$("#select").on('click', function() {
		setCheckBoxes(true);
	});
	$("#deselect").on('click', function() {
		setCheckBoxes(false);
	});
  </script> 
  </body> </html>
